/* table.css */
table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.price-diff {
    padding: 4px 8px;
    border-radius: 4px;
}
th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007BFF;
    color: white;
    position: sticky;
    top: 0;
}

tr:hover {
    background-color: #f1f1f1;
}

.price, .price-amazon, .price-diff {
    padding: 5px;
    border-radius: 5px;
}

.price-diff.positive-1 {
    background-color: #d4edda;
}

.price-diff.positive-2 {
    background-color: #a8e6a3;
}

.price-diff.positive-3 {
    background-color: #77dd77;
}

.price-diff.negative {
    background-color: #f8d7da;
}
td.used {
    background-color: rgba(131, 194, 131, 0.856); 
}

td.used.used-yes {
    background-color: rgb(183, 74, 74); /* Color for Yes */
}
/* Link Amazon column styling */
td.link-amazon {
    background-color: rgb(183, 74, 74); /* Color for Yes */
}

td.link-amazon.link-amazon-yes {
    background-color: rgba(131, 194, 131, 0.856); 
}
td.title-amazon.title-amazon-yes {
    background-color: rgba(131, 194, 131, 0.856); 
}