<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/form.css">
    <link rel="stylesheet" type="text/css" href="/static/css/link.css">
    <link rel="stylesheet" type="text/css" href="/static/css/animation.css">
    <link rel="stylesheet" type="text/css" href="/static/css/table/additionals.css">
    <link rel="stylesheet" type="text/css" href="/static/css/table/amazon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/table/facebook.css">
    <link rel="stylesheet" type="text/css" href="/static/css/table/table.css">
    <link rel="stylesheet" type="text/css" href="/static/css/progess.css">
</head>
<body>
